click                   # https://click.palletsprojects.com/
PySimpleGUI==5.0.99.99  # https://pysimplegui.readthedocs.io/
pytest>=6               # https://docs.pytest.org/
SQLAlchemy>=1,<2        # https://www.sqlalchemy.org/
